{% extends 'app/base.html' %}
{% load static %}
{% block title %}Product Detail{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <div class="col-sm-6 text-center align-self-center">
   <img src="{{product.img.url}}" alt="" class="img-fluid img-thumbnail">
  </div>
  <div class="col-sm-5 offset-sm-1">
   <h2>{{product.title}}</h2>
   <h6>Stock : {{product.stock}}</h6>

   <hr>
   <p></p> <br>
   <h4>Rs. {{product.price}} <small class="fw-light text-decoration-line-through">15999</small></h4> <br>

   <form action="/add-to-cart/" >
        <input type="hidden" name="product_id" value="{{product.id}}">
        {% if product.stock < 1 %}
        <p>Product is out of stock </p>
        {% else %}
          {% if product.available  %}
          <button type="submit" class="btn btn-primary shadow px-5 py-2">Add to Cart</button>
          {% else %}
          <p>Product is not available for Sale </p>
          {% endif %}
        {% endif %}
   </form>
   <h5 class="mt-5">Product Details  : </h5>
   <ul>
    <li>{{product.desc}}</li>
   </ul>
  </div>
 </div>
</div>
{% endblock main-content %}